__init__.py
*.pyc
.*.swp
.#*
#*#
*~
L1Trigger/TrackFindingTracklet/test/*.root
L1Trigger/TrackFindingTracklet/test/TrkPlots/
L1Trigger/TrackFindingTracklet/test/hist/L1TrackNtuplePlot_output/
L1Trigger/TrackFindingTracklet/test/hist/overlayPlotOut/
L1Trigger/TrackFindingTracklet/test/*.txt
.__*
